
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - Cafeteria</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-info text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index","Home")">Cafeteria</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Index","Acerca")">Acerca de</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Index","Menu")">Menú</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Create","Orders")">Pedidos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->
    <header class="menu masthead bg-dark text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">¡Bienvenido a nuestro Menu!</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <br />
            <h2 class="masthead">¡Echa un vistazo a nuestro menú! <br />Contamos con muchas bebidas especiales para ti</h2>
        </div>
    </header>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bebidas</h2><br />

            <!-- Portfolio Grid Items-->
            <div class="row">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"></div>
                        </div>
                        <img class="img-fluid" src="~/Content/img/cafelate1.jpg" alt="" />
                        <h2 class="text-center text-black-50">Café Latte</h2>
                    </div>
                </div>


                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"></div>
                        </div>
                        <img class="img-fluid" src="~/Content/img/Latte-Macchiato2.jpg" alt="" />
                        <h2 class="text-center text-black-50">Café Latte Machiato</h2>
                    </div>
                </div>


                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"></div>
                        </div>
                        <img class="img-fluid" src="~/Content/img/CafeLatteGalletadeChocolate3.jpg" alt="" />
                        <h2 class="text-center text-black-50">Latte Galleta de Chocolate</h2>
                    </div>
                </div>


                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"></div>
                        </div>
                        <img class="img-fluid" src="~/Content/img/LatteMacchiatoconCremadeChocolateyCoco4.jpg" alt="" />
                        <h2 class="text-center text-black-50">Latte Macchiato con Crema de Chocolate y Coco</h2>

                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"></div>
                        </div>
                        <img class="img-fluid" src="~/Content/img/cafe latte con vainilla5.jpg" alt="" />
                        <h2 class="text-center text-black-50">Café Latte con Vainilla</h2>
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"></div>
                        </div>
                        <img class="img-fluid" src="~/Content/img/capuchino6.jpg" alt="" />
                        <h2 class="text-center text-black-50">Capuchino</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modals--><!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Café Latte</h2>
                                <!-- Icon Divider-->
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/Content/img/cafelate1.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <p class="mb-5">El clásico espresso, compuesto de leche vaporizada, shots de espresso y una rica capa de espuma. </p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Cerrar ventana</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Café Latte Macchiato</h2>
                                <!-- Icon Divider-->
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/Content/img/Latte-Macchiato2.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <p class="mb-5">Rica bebida preparada con leche y café espresso</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Cerrar ventana</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Latte Galleta de Chocolate</h2>
                                <!-- Icon Divider-->
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/Content/img/CafeLatteGalletadeChocolate3.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <p class="mb-5">¡Deliciosas galletas! Los trozos de galleta de chocolate añade un sabor crujiente a este cremoso café latte.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Cerrar ventana</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Latte con Crema de chocolate y Coco</h2>
                                <!-- Icon Divider-->
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/Content/img/LatteMacchiatoconCremadeChocolateyCoco4.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <p class="mb-5">El más delicioso de los Latte Macchiatos. El cacao de la crema de chocolate exalta las intensas notas tostadas del Grand Cru Arpeggio, delicadamente envueltas en la atemperada dulzura del coco. Un toque adicional: ¡virutas de coco en el borde del vaso para un efecto visual todavía más delicioso!</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Cerrar ventana</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Café Latte con Vainilla</h2>
                                <!-- Icon Divider-->
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/Content/img/cafe latte con vainilla5.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <p class="mb-5">Este café con vainilla es la bebida perfecta para los días fríos. El sabor intenso del café y la cremosidad de la leche con rico sabor a vainilla.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Cerrar ventana</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Capuchino</h2>
                                <!-- Icon Divider-->
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/Content/img/capuchino6.jpg" alt="" /><!-- Portfolio Modal - Text-->
                                <p class="mb-5">Riquisimo clásico espresso con shots de nuestro espresso y profunda capa de espuma de leche.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>

        <a href="@Url.Action("Index","Home")" class="btn btn-info btn-lg btn-icon-split">
            @*Si no encuentras iconos ir a Font Awesome*@
            <span class="icon text-white-50"><i class="fas fa-angle-left"></i></span>
            <span class="text">Regresar</span>
        </a>
    </p>
    <p>

        <a href="@Url.Action("Index","Menu2")" class="btn btn-info btn-lg btn-icon-split">
            @*Si no encuentras iconos ir a Font Awesome*@
            <span class="icon text-white-50"><i class="fas fa-angle-double-right"></i></span>
            <span class="text">Siguiente</span>
        </a>
    </p>


    <!-- Third party plugin JS-->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>

