@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - Cafetería</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-dark text-uppercase fixed-top" >
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Index","Home")">Coffe Place</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Index","Acerca")">Acerca de</a></li>
                    <li class="nav-item mx-0 mx-lg-1" id="MENU">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Index","Menu")">Menú</a>
                        <ul id="Subseccion1">
                            <li><a href="@Url.Action("Index","Menu")">Bebidas</a></li>
                            <li><a href="@Url.Action("Index","Postres")">Postres</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Create","Orders")">Pedidos</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Masthead-->
    <header class="img masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Bienvenidos <br /> a <br /> Coffe Place</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <h2 class="masthead">¡Echa un vistazo a nuestro menú! <br /> Contamos con gran variedad de sabores para ti.</h2>
        </div>
    </header>

    <!-- Footer-->
    <section class="copyright bg-dark py-4 text-center text-white">
        <div class="container ">
            <h3 class="text-white">Registrate e inicia sesión</h3> <br />

            <a href="@Url.Action("Register", "Account")" class="btn btn-info btn-sm btn-icon-split">
                @*Si no encuentras iconos ir a Font Awesome*@
                <span class="icon text-white-50"><i class="fas fa-angle-double-right"></i></span>
                <span class="text">Registro</span>
            </a>
            <a href="@Url.Action("Login","Account")" class="btn btn-info btn-sm btn-icon-split">
                @*Si no encuentras iconos ir a Font Awesome*@
                <span class="icon text-white-50"><i class="fas fa-angle-double-right"></i></span>
                <span class="text">Iniciar Sesión</span>
            </a>

        </div>
    </section>

    <footer class="footer bg-dark text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Ubicación</h4>
                    <p class="lead mb-0">
                        Paseo De Los Heroes
                        <br /> Rio Tijuana
                        <br />Tijuana 22320
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">¡Gracias por visitar nuestra página!</h4>
                    <p class="lead mb-0">Con la intención de mostrar nuestro café al mundo.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <section class="copyright bg-info py-4 text-center text-white ">
        <div class="container "><small>Copyright © Cafeteria - Yudith Rubio Parra 2020</small></div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
    </div>



    <!-- Third party plugin JS-->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>


